<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @flat['imageUrl'] %>); padding: 175px;">
  <div class="container">
    <h1><%= @flat["name"] %></h1>
    <a style="background-color: red; padding: 15px 35px; border-radius: 50px; display: inline-flex; margin-top: 20px; color: white; text-decoration: none;" href="#">Book now</a>
  </div>
</div>
